*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    color: white;
    display: inline;
    margin: 20px;
}

a{
    text-decoration: none;
}

a:hover{
    font-size: 30px;
    transition: all 0.3s ease 0s;
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#nav-img {
    height: 100px;
    width: 100px;
}